<!DOCTYPE html>
<html lang="fi">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/style.css" rel="stylesheet">
    <script type="module" src="https://cdn.jsdelivr.net/npm/ionicons/dist/ionicons/ionicons.esm.js" defer></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/ionicons/dist/ionicons/ionicons.js" defer></script>
    <script src="../js/main.js" defer></script>
    <title>Solar Escape</title>
</head>
<body>
    <div class="container">
        <!-- Header Section -->
        <header class="page-header">
            <h1 class="page-title">
                &nbsp;Solar&nbsp;Escape&nbsp;
            </h1>
            <nav>
                <ul class="flex-wrap space-evenly">
                    <li>
                        <a class="button button-white" href="/">Game</a>
                    </li>
                    <li>
                        <a class="button button-white" href="about.html">About</a>
                    </li>
                </ul>
            </nav>
        </header>
        <!-- Main Content -->
        <main class="flex-wrap-title">
            <!-- Main Title -->
            <header>
                <h1>Pelin tarina</h1>
            </header>
            <!-- Game Story -->
            <article>
                <header>
                    <h1>Tervetuloa Solar Escape -peliin!</h1>
                </header>
                <p>
                    Aurinko on räjähtämässä, ja sen myötä maapallon ilmasto on alkanut kuumentua äärimmilleen.
                    Maailma on joutunut kaaokseen. Ihmiskunta kamppailee selviytymisestään.
                </p>
                <p>
                    Sinä olet yksi onnekkaista, joka on kuullut huhun salaisista suojapaikoista, joka kestää kuumuuden.
                    Nämä bunkkerit sijaitsevat lentokentillä jossain Suomessa, ja se sisältää kaiken tarvittavan elämiseen: ruokaa, vettä, ilmaa, ja turvallisuutta.
                </p>
                <p>
                    Ainoa ongelma on, että aikaa ja polttoainetta on vain rajallinen määrä.
                    Jos haluat selviytyä, sinun on löydettävä kaikki viisi suojapaikkaa ennen kuin on liian myöhäistä.
                </p>
                <p>Onnea matkaan, seikkailijamme. Selviytyminen on omissa käsissäsi!</p>
            </article>
        </main>
        <!-- Footer Section -->
        <footer class="page-footer">
            <p>&copy; Solar Escape</p>
        </footer>
    </div>
</body>

</html>

