<!DOCTYPE html>
<html lang="fi">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS tiedosto Flaskin kautta -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <script type="module" src="https://cdn.jsdelivr.net/npm/ionicons/dist/ionicons/ionicons.esm.js" defer></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/ionicons/dist/ionicons/ionicons.js" defer></script>
    <!-- JavaScript tiedosto Flaskin kautta -->
    <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
    <title>Solar Escape</title>
</head>
<body>
    <div class="container">
        <!-- Header Section -->
        <header class="page-header">
            <h1 class="page-title">
                &nbsp;Solar&nbsp;Escape&nbsp;
            </h1>
            <nav>
                <ul class="flex-wrap space-evenly">
                    <li>
                        <a class="button button-white" href="/">Game</a>
                    </li>
                    <li>
                        <a class="button button-white" href="/about">About</a>
                    </li>
                </ul>
            </nav>
        </header>
        <!-- Main Content -->
        <main class="flex-wrap-title">
            <!-- Main Title -->
            <header>
                <h1>Story</h1>
            </header>
            <!-- Game Story -->
            <article>
                <header>
                    <h1>Welcome to Solar Escape!</h1>
                </header>
                <p>
                    The sun is about to explode, causing Earth's climate to heat up to the extreme.
                    The world has plunged into chaos, and humanity is struggling to survive.
                </p>
                <p>
                    You are one of the lucky ones who has heard a rumor about a secret bunker that can withstand the heat.
                    This bunker is located at an airport in the northern part of Finland, equipped with everything needed for survival: food, water, air, and safety.
                </p>
                <p>
                    The only problem is that you have limited time and fuel.
                    If you want to survive, you must find this safe haven before it’s too late.
                </p>
                <p>Good luck on your journey, adventurer. Survival is in your hands!
                </p>
                <section>
                    <header>
                        <h2>Game Stats</h2>
                    </header>
                    <table class="task-table" style="width: 100%; border-collapse: collapse;">
                        <tr>
                            <td style="width: 50%; border: 1px solid #ddd; padding: 8px;">Player Name</td>
                            <td style="width: 50%; border: 1px solid #ddd; padding: 8px;">{{ player_stats.player_name if player_stats else 'Empty' }}</td>
                        </tr>
                        <tr>
                            <td style="width: 50%; border: 1px solid #ddd; padding: 8px;">Wins</td>
                            <td style="width: 50%; border: 1px solid #ddd; padding: 8px;">{{ player_stats.wins if player_stats else '0' }}</td>
                        </tr>
                        <tr>
                            <td style="width: 50%; border: 1px solid #ddd; padding: 8px;">Losses</td>
                            <td style="width: 50%; border: 1px solid #ddd; padding: 8px;">{{ player_stats.losses if player_stats else '0' }}</td>
                        </tr>
                        <tr>
                            <td style="width: 50%; border: 1px solid #ddd; padding: 8px;">Airports Visited</td>
                            <td style="width: 50%; border: 1px solid #ddd; padding: 8px;">{{ player_stats.airports_visited if player_stats else 'None' }}</td>
                        </tr>
                        <tr>
                            <td style="width: 50%; border: 1px solid #ddd; padding: 8px;">Number of Airports Visited</td>
                            <td style="width: 50%; border: 1px solid #ddd; padding: 8px;">{{ player_stats.num_airports_visited if player_stats else '0' }}</td>
                        </tr>
                        <tr>
                            <td style="width: 50%; border: 1px solid #ddd; padding: 8px;">Distance Traveled</td>
                            <td style="width: 50%; border: 1px solid #ddd; padding: 8px;">{{ player_stats.distance_traveled | round(2) if player_stats else '0' }} km</td>
                        </tr>
                    </table>
                </section>
            </article>
        </main>
        <!-- Footer Section -->
        <footer class="page-footer">
            <p>&copy; Solar Escape</p>
        </footer>
    </div>
</body>

</html>

