<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" />
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" defer></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/ionicons/dist/ionicons/ionicons.esm.js" defer></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/ionicons/dist/ionicons/ionicons.js" defer></script>
    <script src="../static/js/main.js" defer></script>
    <title>Solar Escape</title>


</head>

<body>
    <div class="container">
        <header class="page-header">
            <h1 class="page-title">
                &nbsp;Solar&nbsp;Escape&nbsp;
            </h1>
            <nav>
                <ul class="flex-wrap space-evenly">
                    <li>
                        <a class="button button-white" href="/">Game</a>
                    </li>
                    <li>
                        <a class="button button-white" href="about.html">About</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main class="flex-wrap">
            <div id="map"></div>
            <div class="boxes">
                <section class="box">
                    <header>
                        <h2>Game Information</h2>
                    </header>
                    <table class="task-table" style="width: 100%; border-collapse: collapse;">
                        <tr>
                            <td style="width: 50%; border: 1px solid #ddd; padding: 8px;">Player Name</td>
                            <td style="width: 50%; border: 1px solid #ddd; padding: 8px;"><span id="player-name">Empty</span></td>
                        </tr>
                        <tr>
                            <td style="width: 50%; border: 1px solid #ddd; padding: 8px;">Bunkers found</td>
                            <td style="width: 50%; border: 1px solid #ddd; padding: 8px;"><span id="bunkers_found">0/5</span></td>
                        </tr>
                    </table>
                </section>
                <section class="box">
                    <header>
                        <h2 id="airport-name">Your Mission</h2>
                    </header>
                    <table class="task-table">
                      <tr>
                        <td>
                            Welcome to the Solar Escape game! Your mission is to find the five secret bunkers located at airports
                            somewhere in Finland. Find it before time or fuel runs out!</td>
                      </tr>
                    </table>
                </section>
                <section class="box">
                    <header>
                        <h2>Player Status</h2>
                    </header>
                    <table class="task-table">
                        <tr>
                            <td>Current location:</td>
                            <td><span id="current-location">Helsinki</span></td>
                        </tr>
                        <tr>
                            <td>Remaining distance:</td>
                            <td><span id="player-distance">100</span></td>
                        </tr>
                        <tr>
                            <td>Remaining time:</td>
                            <td><span id="player-time">120</span></td>
                        </tr>
                    </table>
                </section>
            </div>
        </main>
        <footer class="page-footer">
            <p>&copy; Solar Escape</p>
        </footer>
    </div>

    <!-- Modal for Player Name Input -->
   <div id="player-modal" class="modal show">
    <form id="player-form">
        <label for="player-input">Enter your name:</label>
        <input id="player-input" type="text" placeholder="Player name" required />
        <button type="submit">Start Game</button>
    </form>
</div>
<div class="modal-backdrop show"></div>

</body>

</html>
